* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shadow-2 {
  animation: slide-up 0.4s ease;
}
.min-vh-75 {
  min-height: 75vh;
}
.h-max-5 {
  max-height: 16rem;
}
