* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.min-vh-75 {
  min-height: 75vh;
}
.h-max-5 {
  max-height: 16rem;
}

body {
  overflow-x: hidden;
}
.card-container {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  margin: 0 auto;
  color: #333;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  height: auto;
  min-height: 50vh;
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
